<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <style>
        .upfile {
            width: 80%;
            height: 30px;

        }

        .confirmfile {
            background-color: #5bc0de;
            font-size: 15px;
            margin-left: 5%;
        }

        #submit_button {
            border-left: 200px;
        }
        #h1 {
            display: none;
            color: #d43f3a;
        }
    </style>

    <script>
        $(function () {
            $('#submit_button').on("click", function () {
                var mychar = document.getElementById("submit_button");
                var h1 = document.getElementById("h1");
                mychar.style.display="none";
                h1.style.display="block";
                $.ajax({
                    url: "/submit5/",
                    type: "POST",
                    data: new FormData($('#upload_form')[0]),    // 获取json的数据格式
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (arg) {
                        h1.style.display="none";
                        // $('#img').attr("src", "../static/images/Linear.jpg");
                        b(arg);
                    }
                });

            })
        });

        function b(arg) {
            var d1 = $("#d1");
            var d2 = $("#d2");
            var a = JSON.parse(arg)
            s = '<h2>' + 'C: ' + a.C + '</h2>'
            s1 = '<h2>' + 'gamma: ' + a.gamma + '</h2>'
            s2 = '<h3>' + 'f1得分: ' + a.f1_score + '</h3>'
            s3 = '<h3>' + '召回率: ' + a.recall_score + '</h3>'
            s4 = '<h3>' + '查准率: ' + a.precision_score + '</h3>'
            s5 = '<h3>' + '精准度: ' + a.accuracy_score + '</h3>'
            d1.html("<img src='../static/images/SCV_rbf_iris.png?t=" + Date.parse(new Date()) + "'>");
            d2.html(s + '<hr>' + s1  + '<hr>' + s2 + '<hr>' + s3 + '<hr>' + s4 + '<hr>' + s5)
        }


    </script>
</head>
<body>

<div class="page-header">
    <h1>svm.SVC-rbf</h1>
</div>
<div>
    <form action="/submit5" method="post" id="upload_form">
        <input class="confirmfile" type="button" value="开始训练" id="submit_button">
        <h1 id="h1">加载中...</h1>
    </form>

    <form action="/updatapage5" method="post">
        <input class="confirmfile" type="submit" value="刷新">
    </form>

</div>

<hr>
<div>
    <h4>svm的高斯核函数对鸢尾花数据进行分类</h4>
    <div id="d2"></div>
    <hr>

    <caption><h1 id="hhhhh">图形可视化</h1></caption>
    <div id="d1"></div>
    <hr>
    <!--<input id='img' type="image">-->
    </table>


</div>
</body>
</html>
